name: Deploy to Databricks

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install NEW Databricks CLI (v0.208.0+)
        run: |
          pip install --upgrade pip
          pip install databricks-cli==0.208.0
          databricks --version


      - name: Authenticate to Databricks
        run: |
          databricks auth login --host ${{ secrets.DATABRICKS_HOST }} --token ${{ secrets.DATABRICKS_TOKEN }}

      - name: Validate bundle
        run: databricks bundle validate

      - name: Deploy bundle
        run: databricks bundle deploy

      - name: Run job
        run: databricks bundle run
